apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .AppName }}-deployment
  labels:
    app: {{ .AppName }}
spec:
  replicas: {{ .Replicas }}
  selector:
    matchLabels:
      app: {{ .AppName }}
  template:
    metadata:
      labels:
        app: {{ .AppName }}
    spec:
      containers:
      - name: {{ .AppName }}
        image: {{ .Image }}:{{ .Tag }}
        ports:
        - containerPort: {{ .Port }}
{{- if .HasConfigMap }}
        volumeMounts:
        - name: config-volume
          mountPath: /etc/config
{{- end }}
{{- if .HasConfigMap }}
      volumes:
      - name: config-volume
        configMap:
          name: {{ .AppName }}-configmap
{{- end }}
