apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ .AppName }}-rolebinding
subjects:
- kind: ServiceAccount
  name: {{ .AppName }}-sa
roleRef:
  kind: Role
  name: {{ .AppName }}-role
  apiGroup: rbac.authorization.k8s.io
