apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ .AppName }}-statefulset
spec:
  serviceName: {{ .AppName }}
  replicas: {{ .Replicas }}
  selector:
    matchLabels:
      app: {{ .AppName }}
  template:
    metadata:
      labels:
        app: {{ .AppName }}
    spec:
      containers:
      - name: {{ .AppName }}
        image: {{ .Image }}:{{ .Tag }}
        ports:
        - containerPort: {{ .Port }}
