apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

commonLabels:
  app: {{ .AppName }}

resources:
{{- range .Resources }}
  - {{ . }}
{{- end }}

{{- if .EnvLines }}
configMapGenerator:
  - name: {{ .AppName }}-config
    literals:
{{- range .EnvLines }}
      - {{ . }}
{{- end }}
{{- end }}

images:
  - name: {{ .Image }}
    newTag: {{ .Tag }}
