<div class="mb-3">
  <label class="form-label">副本数</label>
  <input name="replicas" type="number" class="form-control" value="1" min="1" max="100">
  <div class="form-text">Deployment、StatefulSet 等工作负载资源的副本数量</div>
</div>

<hr class="my-3">

<div class="mb-3">
  <label class="form-label">Kubernetes 资源类型（可多选）</label>
  <div class="row">
    <div class="col-md-6">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="k8s_resource[]" value="Namespace" id="k8s-namespace">
        <label class="form-check-label" for="k8s-namespace">Namespace</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="k8s_resource[]" value="Deployment" id="k8s-deployment">
        <label class="form-check-label" for="k8s-deployment">Deployment</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="k8s_resource[]" value="StatefulSet" id="k8s-statefulset">
        <label class="form-check-label" for="k8s-statefulset">StatefulSet</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="k8s_resource[]" value="DaemonSet" id="k8s-daemonset">
        <label class="form-check-label" for="k8s-daemonset">DaemonSet</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="k8s_resource[]" value="Service" id="k8s-service">
        <label class="form-check-label" for="k8s-service">Service</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="k8s_resource[]" value="Ingress" id="k8s-ingress">
        <label class="form-check-label" for="k8s-ingress">Ingress</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="k8s_resource[]" value="ConfigMap" id="k8s-configmap">
        <label class="form-check-label" for="k8s-configmap">ConfigMap</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="k8s_resource[]" value="Secret" id="k8s-secret">
        <label class="form-check-label" for="k8s-secret">Secret</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="k8s_resource[]" value="PersistentVolumeClaim" id="k8s-pvc">
        <label class="form-check-label" for="k8s-pvc">PersistentVolumeClaim</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="k8s_resource[]" value="StorageClass" id="k8s-storageclass">
        <label class="form-check-label" for="k8s-storageclass">StorageClass</label>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="k8s_resource[]" value="CronJob" id="k8s-cronjob">
        <label class="form-check-label" for="k8s-cronjob">CronJob</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="k8s_resource[]" value="ServiceAccount" id="k8s-serviceaccount">
        <label class="form-check-label" for="k8s-serviceaccount">ServiceAccount</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="k8s_resource[]" value="HorizontalPodAutoscaler" id="k8s-hpa">
        <label class="form-check-label" for="k8s-hpa">HorizontalPodAutoscaler</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="k8s_resource[]" value="ResourceQuota" id="k8s-resourcequota">
        <label class="form-check-label" for="k8s-resourcequota">ResourceQuota</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="k8s_resource[]" value="LimitRange" id="k8s-limitrange">
        <label class="form-check-label" for="k8s-limitrange">LimitRange</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="k8s_resource[]" value="NetworkPolicy" id="k8s-networkpolicy">
        <label class="form-check-label" for="k8s-networkpolicy">NetworkPolicy</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="k8s_resource[]" value="Role" id="k8s-role">
        <label class="form-check-label" for="k8s-role">Role</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="k8s_resource[]" value="RoleBinding" id="k8s-rolebinding">
        <label class="form-check-label" for="k8s-rolebinding">RoleBinding</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="k8s_resource[]" value="ClusterRole" id="k8s-clusterrole">
        <label class="form-check-label" for="k8s-clusterrole">ClusterRole</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="k8s_resource[]" value="ClusterRoleBinding" id="k8s-clusterrolebinding">
        <label class="form-check-label" for="k8s-clusterrolebinding">ClusterRoleBinding</label>
      </div>
    </div>
  </div>
  <div class="form-text">选择多个资源类型时会自动建立关联关系</div>
</div>